<div class="row">
  <div class="col-xs-12">
    <div class="forum panel panel-default">
      <div class="panel-body">
        <h4 class="name"><%= forum.name %></h4>
        <p class="description"><%= forum.description %></p>
      </div>
    </div>
  </div>
</div>
