<div class="post panel panel-default">
  <div class="content panel-body">
    <%= post.content %>
  </div>

  <div class="user panel-footer">
    <p class="username"><%= post.user.username %></p>
  </div>
</div>
